{% extends 'base.html' %}
{% load static %}
{% load apptags %}

{% block head %}
<link rel="stylesheet" href="{% static 'roadMaps/css/style.css' %}">
{% endblock head %}






{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <section class="cd-container" id="cd-timeline">
            {% for obj in mapObj %}
            {% with date=request.user.profile|check_user_userguide:obj %}
            <div class="cd-timeline-block">
              <div class="cd-timeline-img cd-picture {% if date %}bg-success{% else %}bg-primary{% endif %}">
                {% if date %}
                  <i class="fa fa-star"></i>
                {% else %}
                <a href="{% url 'roadMapsComplied' obj.pk %}">
                  <i class="fa fa-star-o"></i>
                </a>
                {% endif %}
              </div>
              <div class="cd-timeline-content">
                <a href="{{ obj.get_absolute_url }}" class="open-iframe">
                  <h4>{{ obj.title }}</h4>
                </a>
                <p class="m-0">{{ obj.text|striptags|truncatechars:150 }}</p>
                <span class="cd-date">{% if date %}{{date}}{% endif %}</span>
              </div>
            </div>
            {% endwith %}
            {% endfor %}
          </section>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="box-iframe"></div>
    </div>
  </div>
</div>
{% endblock body %}

{% block script %}
<script>
  $(document).ready(function () {
    $('.open-iframe').click(function (event) {
      event.preventDefault();
      var url = $(this).attr('href');
      $('.box-iframe').html('<iframe src="' + url + '"></iframe>');
    });
  });
</script>
<script>
  $(document).ready(function () {
    var circles = $('.circle');
    var container = $('.circle-container');
    circles.each(function (index) {
      var circle = $(this);
      var offset = 100;
      if (index % 2 == 0) {
        offset = -100;
      }
      circle.css('margin-top', offset + 'px');
    });
  });
</script>
{% endblock script %}