{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'roadMaps/css/style.css' %}">

{% endblock head %}


{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="circle-container">
        {% for obj in mapObj %}
            {% if obj.bigBox %}
            <a href="{{ obj.get_absolute_url }}" class="open-iframe">
              <div class="circle">{{ obj.order_count }}</div>
            </a>
            {% else %}
            <a href="{{ obj.get_absolute_url }}" class="open-iframe">
              <div class="small-circle">{{ obj.order_count }}</div>
            </a>
            {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
        <div class="box-iframe"></div>
    </div>
  </div>
</div>

  
{% endblock body %}


{% block script %}


<script>
  $(document).ready(function() {
    $('.open-iframe').click(function(event) {
      event.preventDefault();
      var url = $(this).attr('href');
      $('.box-iframe').html('<iframe src="' + url + '"></iframe>');
    });
  });
</script>
<script>
    $(document).ready(function() {
        var circles = $('.circle');
        var container = $('.circle-container');
        
        circles.each(function(index) {
          var circle = $(this);
          var offset = 100;
          
          if (index % 2 == 0) {
            offset = -100;
          }
          
          circle.css('margin-top', offset + 'px');
        });
      });
        
</script>
{% endblock script %}
