{% extends 'base.html' %}
{% load static %}


{% block nav %}
{% endblock nav %}

{% block header %}
{% endblock header %}


{% block body %}
<div class="container-fluid p-5">
  <div class="row">
    <div class="col-sm-12">
        <h2> {{ level.title }} </h2>
    </div>
    <div class="col-sm-12">
        {{ level.text |safe }}
    </div>
    {% if not compl %}
    <div class="col-sm-12">
      <a href="{% url 'roadMapsComplied' level.pk %}" class="btn btn-success btn-lg">Выполнить</a>
    </div>
    {% endif %}

  </div>
</div>
{% endblock body %}



{% block script %}
{% endblock script %}

{% block footer %}
{% endblock footer %}