{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/assets/vendors/date-picker.css' %}">
{% endblock head %}

{%block body%}
<div class="container-fluid">
   <div class="row">
      <div class="col-xl-4 col-lg-12 xl-50 morning-sec box-col-12">
         <div class="card o-hidden profile-greeting" style="background: linear-gradient(26deg, var(--theme-deafult) 0%, #a26cf8 100%);">
           <div class="card-body">
             <div class="media">
               <div class="badge-groups w-100">
                 <div class="badge f-12"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock me-1"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg><span id="txt"><div id="time"></div></span></div>
                 <div class="badge f-12"></div>
               </div>
             </div>
             <div class="greeting-user text-center">
               <div class="profile-vector"><img class="img-fluid w-20" src="{{request.user.profile.get_photo}}" style=" max-width: 150px; "></div>
               <h4 class="f-w-600"><span id="greeting">Добрый день</span> <span class="right-circle">, {{request.user}} <i class="fa fa-check-circle f-14 middle"></i></span></h4>
               <div class="whatsnew-btn"><a class="btn btn-primary" href="{% url 'task_list' %} ">Перейти к задачам</a></div>
             </div>
           </div>
         </div>
       </div>
      <div class="col-xl-8">
         <div class="card offer-box">
           <div class="card-body p-0">
             <div class="offer-slider">
               <div class="carousel slide" id="carouselExampleCaptions" data-bs-ride="carousel">
                 <div class="carousel-inner">
                  <div class="carousel-item active">
                     <img src="..." class="d-block w-100" alt="...">
                   </div>
                   <div class="carousel-item">
                     <img src="..." class="d-block w-100" alt="...">
                   </div>
                   <div class="carousel-item">
                     <img src="..." class="d-block w-100" alt="...">
                   </div>

                 </div><a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev" data-bs-original-title="" title=""><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next" data-bs-original-title="" title=""><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="sr-only">Next</span></a>
               </div>
             </div>
           </div>
         </div>
      </div>
      <div class="col-xl-4 col-lg-12 xl-50  box-col-6">
         <div class="card gradient-primary o-hidden">
            <div class="card-body">
               <div class="default-datepicker">
                  <div class="datepicker-here" data-language="ru"></div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-xl-4 col-md-12 box-col-12">
         <div class="email-right-aside bookmark-tabcontent">
            <div class="card email-body radius-left">
               <div class="ps-0">
                  <div class="tab-content" style="height: 500px; overflow-y: auto">
                     <div class="tab-pane fade active show" id="pills-created" role="tabpanel"
                        aria-labelledby="pills-created-tab">
                        <div class="card mb-0">
                           <div class="card-header d-flex">
                              <h5 class="mb-0">Задачи</h5>
                           </div>
                           <div class="card-body p-0">
                              <div class="taskadd">
                                 <div class="table-responsive">
                                    <table class="table">
                                       <tbody>
                                          <tr>
                                             <td>
                                                <h6 class="task_title_0">Встреча</h6>
                                                <p class="project_name_0">28.02.2023</p>
                                             </td>
                                             <td>
                                                <p class="task_desc_0">Встреча с руководителем и HR</p>
                                             </td>
                                             <td>
                                                <a class="me-2" href="#">
                                                   <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                      viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                      stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                      class="feather feather-link">
                                                      <path
                                                         d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71">
                                                      </path>
                                                      <path
                                                         d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71">
                                                      </path>
                                                   </svg>
                                                </a>
                                             </td>
                                          </tr>
                                          <tr>
                                             <td>
                                                <h6 class="task_title_0">Событие</h6>
                                                <p class="project_name_0">07.03.2023</p>
                                             </td>
                                             <td>
                                                <p class="task_desc_0">Окончание испытательного срока</p>
                                             </td>
                                             <td>
                                                <a class="me-2" href="#">
                                                   <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                      viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                      stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                      class="feather feather-link">
                                                      <path
                                                         d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71">
                                                      </path>
                                                      <path
                                                         d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71">
                                                      </path>
                                                   </svg>
                                                </a>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-xl-4 xl-50 notification box-col-6">
         <div class="card">
            <div class="card-header card-no-border">
               <div class="header-top">
                  <h5 class="m-0">notification</h5>
                  <div class="card-header-right-icon">
                     <div class="dropdown">
                        <button class="btn dropdown-toggle" id="dropdownMenuButton" type="button"
                           data-bs-toggle="dropdown" aria-expanded="false">Today</button>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton"><a
                              class="dropdown-item" href="#">Today</a><a class="dropdown-item" href="#">Tomorrow</a><a
                              class="dropdown-item" href="#">Yesterday </a></div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="card-body pt-0">
               <div class="media">
                  <div class="media-body">
                     <p>20-04-2020 <span>10:10</span></p>
                     <h6>Updated Product<span class="dot-notification"></span></h6><span>Quisque a consequat ante sit
                        amet
                        magna...</span>
                  </div>
               </div>
               <div class="media">
                  <div class="media-body">
                     <p>20-04-2020<span class="ps-1">Today</span><span class="badge badge-secondary">New</span></p>
                     <h6>Tello just like your product<span class="dot-notification"></span></h6><span>Quisque a
                        consequat
                        ante sit amet magna... </span>
                  </div>
               </div>
               <div class="media">
                  <div class="media-body">
                     <div class="d-flex mb-3">
                        <div class="inner-img"><img class="img-fluid" src="../assets/images/notification/1.jpg"
                              alt="Product-1"></div>
                        <div class="inner-img"><img class="img-fluid" src="../assets/images/notification/2.jpg"
                              alt="Product-2"></div>
                     </div><span class="mt-3">Quisque a consequat ante sit amet magna...</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

{%endblock body%}

{%block script%}
<script src="{%static 'js/assets/dashboard/default.js' %}"></script>
<script src="{%static 'js/assets/datepicker/date-picker/datepicker.js' %}"></script>
<script src="{%static 'js/assets/datepicker/date-picker/datepicker.en.js' %}"></script>
<script src="{%static 'js/assets/datepicker/date-picker/datepicker.custom.js' %}"></script>
<script>
   function checkTime(i) {
  if (i < 10) {
    i = "0" + i;
  }
  return i;
}

function startTime() {
  var today = new Date();
  var h = today.getHours();
  var m = today.getMinutes();
  var s = today.getSeconds();
  // add a zero in front of numbers<10
  m = checkTime(m);
  s = checkTime(s);
  document.getElementById('time').innerHTML = h + ":" + m;
  t = setTimeout(function() {
    startTime()
  }, 500);
}
startTime();

   var calendar = $('.datepicker-here');

   calendar.datepicker({
      onSelect: function (date) {
         alert('Вы выбрали дату: ' + date);
      }
   });
</script>
{%endblock script%}