{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/home/home.css' %}">

{% endblock head %}


{% block body %}
<div class="circle-container">
    {% for obj in mapObj %}
        {% if obj.bigBox %}
        <div class="circle">{{ obj.order_count }}</div>
        {% else %}
        <div class="small-circle">{{ obj.order_count }}</div>
        {% endif %}
    {% endfor %}
  </div>
  
  
{% endblock body %}


{% block script %}
<script>
    $(document).ready(function() {
        var circles = $('.circle');
        var container = $('.circle-container');
        
        circles.each(function(index) {
          var circle = $(this);
          var offset = 100;
          
          if (index % 2 == 0) {
            offset = -100;
          }
          
          circle.css('margin-top', offset + 'px');
        });
      });
        
</script>
{% endblock script %}
