{% extends "base.html" %}
{% load static %}

{% block body %}
{% if results %}
<div class="container">
  <div class="xl-100 box-col-6">
    <div class="card bg-primary">
      <div class="card-body">
        <div class="media faq-widgets">
          <div class="media-body">
            <h5>Вопросы в которых есть: {{ query }} </h5>
            <p>Вопросы с ответами в тексте которых есть "{{ query }}".</p>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-file-text">
            <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
            <polyline points="14 2 14 8 20 8"></polyline>
            <line x1="16" y1="13" x2="8" y2="13"></line>
            <line x1="16" y1="17" x2="8" y2="17"></line>
            <polyline points="10 9 9 9 8 9"></polyline>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row default-according style-1 faq-accordion" id="accordionoc">
      <div class="col-xl-8 xl-60 col-lg-6 col-md-7">
        {% for el in results %}
        <div class="card">  
          <div class="card-header">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed ps-0" data-bs-toggle="collapse"
                data-bs-target="#collapseicon{{el.pk}}" aria-expanded="false"
                aria-controls="collapseicon{{el.pk}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-help-circle">
                  <circle cx="12" cy="12" r="10"></circle>
                  <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
                  <line x1="12" y1="17" x2="12" y2="17"></line>
                </svg>
                {{el.question|safe}}
              </button>
            </h5>
          </div>
          <div class="collapse" id="collapseicon{{el.pk}}" aria-labelledby="collapseicon{{cat.pk}}{{el.pk}}"
            data-bs-parent="#accordionoc">
            <div class="card-body">{{el.answer|safe}}</div>
          </div>
        </div>
      
{% endfor %} 
    </div>
  
{%else%}

<div class="container">
  <div class="xl-100 box-col-6">
    <div class="card bg-primary">
      <div class="card-body">
        <div class="media faq-widgets">
          <div class="media-body">
            <h5>Ответы на самые популярные вопросы</h5>
            <p>Здесь вы найдете ответы на все самые популярные вопросы, которые возникали у Ваших колег, когда они были
              на вашем месте:).</p>
          </div><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-file-text">
            <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
            <polyline points="14 2 14 8 20 8"></polyline>
            <line x1="16" y1="13" x2="8" y2="13"></line>
            <line x1="16" y1="17" x2="8" y2="17"></line>
            <polyline points="10 9 9 9 8 9"></polyline>
          </svg>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row default-according style-1 faq-accordion" id="accordionoc">
      <div class="col-xl-8 xl-60 col-lg-6 col-md-7">
        {% for cat in categories %}
        <div class="header-faq mb-3 mt-4">
          <h5 class="mb-0" id="categories-{{cat.pk}}-id">{{cat}}</h5>
        </div>
        {% for el in cat.questionList.all %}
        <div class="card">
          <div class="card-header">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed ps-0" data-bs-toggle="collapse"
                data-bs-target="#collapseicon{{cat.pk}}{{el.pk}}" aria-expanded="false"
                aria-controls="collapseicon{{cat.pk}}{{el.pk}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-help-circle">
                  <circle cx="12" cy="12" r="10"></circle>
                  <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
                  <line x1="12" y1="17" x2="12" y2="17"></line>
                </svg>
                {{el.question|safe}}
              </button>
            </h5>
          </div>
          <div class="collapse" id="collapseicon{{cat.pk}}{{el.pk}}" aria-labelledby="collapseicon{{cat.pk}}{{el.pk}}"
            data-bs-parent="#accordionoc">
            <div class="card-body">{{el.answer|safe}}</div>
          </div>
        </div>
        {% endfor %}
        {% endfor %}
      </div>
      {% endif %}
      <div class="col-xl-4 xl-40 col-lg-6 col-md-5">
        <div class="row">
          <div class="col-lg-12">
            <div class="card card-mb-faq">
              <div class="card-header faq-header">
                <h5>Навигатор</h5>
              </div>
              <div class="card-body faq-body">
                <div class="navigation-btn"><a class="btn btn-primary" href="#"><svg xmlns="http://www.w3.org/2000/svg"
                      width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                      stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square m-r-10">
                      <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path>
                    </svg>Задать вопрос</a></div>
                <div class="navigation-option">
                  <ul>
                    {% for cat in categories %}
                    <li>
                      <a href="#categories-{{cat.pk}}-id">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                          class="feather feather-edit">
                          <path d="M20 14.66V20a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h5.34"></path>
                          <polygon points="18 2 22 6 12 16 8 16 8 12 18 2"></polygon>
                        </svg>
                        {{cat}}
                      </a>
                    </li>
                    {% endfor %}
                  </ul>
                  <hr>
                  <ul>
                    <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                          fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" class="feather feather-message-circle">
                          <path
                            d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z">
                          </path>
                        </svg>Задать вопрос</a></li>
                    <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                          fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" class="feather feather-mail">
                          <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                          <polyline points="22,6 12,13 2,6"></polyline>
                        </svg>Связаться с разработчиками платформы</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header faq-header">
                <h5 class="d-inline-block">Последние обновления</h5>
              </div>
              <div class="card-body faq-body">
                <div class="media updates-faq-main">
                  <div class="updates-faq"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                      viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" class="feather feather-rotate-cw font-primary">
                      <polyline points="23 4 23 10 17 10"></polyline>
                      <path d="M20.49 15a9 9 0 1 1-2.12-9.36L23 10"></path>
                    </svg></div>
                  <div class="media-body updates-bottom-time">
                    <p><a href="#">Команда "КуйКод" </a>добавила новый вопрос</p>
                    <p>10 минут назад</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  {% endblock %}