.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardheader{
    background-size: cover !important;
    background-position: top !important;
    height: 300px !important;
}